////////////////////////////////////////////////////////////FoTTER


//////////////////////////////KONTAKTY footer

.user-kontakt {
    display:flex;
    //flex-direction: row-reverse;
    padding: 0;
    align-items:baseline;
    justify-content: space-around;


    @media (max-width: 1100px) {
        flex-direction: column-reverse;
        margin:0;
    }
       
    
    
    &__user-kontakty {
        display:flex; 
        justify-content:center;
        align-self: center;
        
        @media (max-width: 1200px) {
            margin:0;
        }
        
        @media (max-width: 900px) {
            margin:1px auto;
        }
        
    }

    &__icon {
        display:block;
        margin: 10px 12px 0 0;
        height: 3.4rem;
        width: 3.4rem;    
        fill:var(--color-grey-dark-3);

        @media (max-width: 1200px) {
            height:3.3rem;
            width:3.3rem;
            margin: 10px 10px 0 0;
    
        }

        @media (max-width: 900px) {
            height:3.1rem;
            width:3.1rem;
            margin: 6px 8px 0 0;
           
        }
    }

    &__kontakty {
        display: block;
        font-size: 26px;
        font-weight:700;
        letter-spacing: 3.5px;
        transition: all .2s;
        padding: 4px 0 0 0;

        @media (max-width:1200px) {
            font-size:24px;
        }


        @media (max-width: 900px) {
            font-size: 20px;
            letter-spacing: 2px;
            padding: 2px 0 0 0;
        }

        @media (max-width: 600px) {
            font-size: 18px;
            letter-spacing: 2px;
            padding: 2px 0 0 0;
        }

    }
    

    &__kontakty:hover{
       
        color: var(--color-primary-light);
        text-shadow: .5rem 1rem 2rem rgba(0,0,0,.3);
        transform: scale(1.065);
        transition: all .2s;

        @media (max-width: 900px) {
            padding: 0 0 1px 0;
        }
    }          
}

.phone {
    display:flex;
    align-content:flex-end;
    margin:0; 

}

.email {
    display:flex;
    align-content:flex-end;
    margin:0 0 0 280px;

    @media (max-width:1750px) {
        margin:0 0 0 220px;
    }

    @media (max-width:1500px){
        margin:0 0 0 150px; 
    }

    @media (max-width:1350px){
        margin:0 0 0 80px; 
    }
    
    @media (max-width:1200px){
        margin:0 0 0 70px;
    }


    @media(max-width:1100px) {
        margin: 0;
    }

 
}

.social-site { 
    display: flex;
    align-items: flex-end;
    flex-direction:row;
    margin:0 0 0 280px;

    
    @media (max-width:1750px){
        margin:0 0 0 220px;
    }

    @media (max-width:1500px){
        margin:0 0 0 150px;
    }

    @media (max-width:1350px){
        margin:0 0 0 80px;
    }

    @media (max-width:1200px){
        margin:0 0 0 70px;
    }

    @media (max-width:1100px) {
        margin:0;
        margin:1px 0 0 0;
    }


    &__icon {
        height: 4rem;
        width: 4rem;
        margin: 9px 9px 0 0;
        fill: var(--color-grey-dark-3);

        @media (max-width:1200px) {
            margin:0 5px;
        }

       
    }


    &__icon:hover{
        fill:#00a0dc; //linkedin color
        transform: scale(1.2);
        transition: all .2s;
    }


}

.linkedin {
    margin: 10px 8px 0 0;

    @media(max-width:1200px) {
        margin:0 5px 0 0;
    }



}
.replit {
    height:3.4rem;
    width:3.4rem;
    fill:var(--color-grey-dark-3)
}


.facebook {

    margin: 10px 0 0 0;

    @media (max-width:1200px) {
        margin:0 0 0 5px;
    }

}

.github:hover {
    fill:#6e5494; //github color
}


.facebook:hover {
    fill: #4267B2;
}


.copyright {
    border-top: 1px solid #777;
    text-align: center;
    padding: 0 140px;

    @media (max-width:600px) {
        padding: 0 80px;
    }
}
